body{
  margin: 0;
  padding: 0;
 background-color:#1d2b3a;

}
span{
  color:rgb(247, 232, 232);
}
.heading{
   
 width: 100%;
 background-color:black;
 display: flex;

 gap:10px;
 
}
.heading input{
margin: 10px;
  width: 15rem;
  height: 20px;
  border: 1px solid grey;
  background: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1rem;
  
}
.heading h1{
  margin: 0;
  color:white;
  
}
h2{
  margin: 0;
  color:black
}
table{
  color:white;
}
tr{
  color: black;
  background-color: white;
}
button{
 height:60px;
 width: 160px;
 background-color:#bcc3cc ;
 color: white;
 
 margin: 10px;


}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs{
  display: inline-flex;
}
@media(min-width:390px){
  .inputs{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #1d2b3a;
      position: relative;
      gap:20px
  }
  .inputs input,select{
      width: 100%;
      padding: 10px;
      border: 1px solid grey;
      background: #1d2b3a;
      border-radius: 5px;
      outline: none;
      color: #fff;
      font-size: 1rem;
  }
  .inputs span{
      color:white;
  }

}



